body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #050507;
  color: white;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ff7a18, #7b2ff7);
  position: relative;
  text-align: center;
}

.glow {
  position: absolute;
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, rgba(255,122,24,0.4), transparent);
  filter: blur(100px);
}

/* TEXT */
h1 {
  font-size: 60px;
  margin: 0;
}

p {
  font-size: 20px;
}

/* BUTTON */
button {
  margin-top: 20px;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  background: black;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

/* FEATURES */
.features {
  padding: 80px 20px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 400px;
  margin: auto;
}

.card {
  padding: 20px;
  background: #111;
  border-radius: 15px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}
